.container {
    &.highlighted {
        background-color: var(--magenta-100);
        border-radius: var(--border-radius);
        padding: 1.2rem;

        .title {
            font: 600 1.3rem OutfitVariable;
        }
    }
}

