.container {
    &.title {
        color: rgb(106, 47, 69);
    }

    &.highlighted {
        border-radius: var(--border-radius);
        padding: 12px;

        &.title {
        }
    }
}

.highlighted {
    background-color: rgb(255, 247, 252);
    border-radius: var(--border-radius);
}
