
/* desktop layout */
main {
    max-width: var(--main-max-width);
    margin: var(--page-margin-top) auto var(--page-margin-bottom);
    background-color: var(--white);
    border-radius: var(--border-radius);
}

.content, .hero {
    padding: var(--page-padding);
}

.content {
    padding: var(--desktop-padding);
}

.hero {
    padding: var(--desktop-padding) var(--desktop-padding) 0;
    border-radius: var(--border-radius);
    width: 100%;
}

/* mobile layout */
@media screen and (max-width: 400px) {
    .content {
        padding: var(--mobile-padding);
    }

    .hero {
        padding: 0;
        border-radius: 0;
    }
}
