/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */

    /* Reds */
    --red-100: #ebebeb;
    --red-400: #7f4637;

    --yellow-100: #f3e5d8;
    --yellow-200: #5c5753;
    --yellow-300: #2d2c2a;

    --magenta-100: #fff7fc;
    --magenta-200: #77495b;
    --magenta-300: #6a2f45;

    --white: #ffffff;

    /* Spacing */
    --page-margin-top: 5rem;
    --page-margin-bottom: 2rem;
    --page-padding: 2.5rem;
    --text-margin: 2rem;
    --spacer: 2rem;

    --desktop-padding: 2.5rem;
    --mobile-padding: 2rem;

    /* Shapes */
    --border-radius: 16px;

    /* Typography */
    --text-size: 1rem;
    --page-title-size: 2.6rem;
    --page-title-color: var(--yellow-300);
    --section-title-size: 1.8rem;
    --section-title-color: var(--red-400);

    /* Layout */
    --main-max-width: 47rem;
    --mobile-max-width: auto;
}

/* Font declarations */
@font-face {
    font-family: 'OutfitVariable';
    src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Young font family */
@font-face {
    font-family: 'Young Serif';
    src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font: 400 16px OutfitVariable;
    line-height: 1.5;
    background-color: var(--yellow-100);
    color: var(--yellow-200);
}
