:root {
    // # Layout
    --mobileBreakpoint: 375px;
    --desktopBreakpoint: 1440px;

    // # Colors
    // ## Primary
    --nutmeg: hsl(14, 45%, 36%);
    --darkRasberry: hsl(332, 51%, 32%);
    // ## Neutral
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGrey: hsl(30, 18%, 87%);
    --wengeBrown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
}

// # Typography
@font-face {
    font-family: 'Young Serif';
    src: url(/recipe-page/fonts/YoungSerif-Regular.ttf) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url(/recipe-page/fonts/Outfit-VariableFont_wght.ttf) format('ttf');
    font-weight: 400, 600, 700;
}

html,
body {
    height: 100%;
    font-size: 16px;
    background-color: var(--eggshell);
    margin: 0;
}

main {
    display: grid;
    place-items: center;
}

.container {
    max-width: 600px;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--white);

    .hero {
        background-image: url(/recipe-page/images/image-omelette.jpeg);
        background-size: cover;
        height: 300px;
        border-radius: 10px;
    }

    h1 {
        font-family: Young Serif;
    }

    .focused {
        padding: 25px;
        background-color: var(--roseWhite);
    }
}

// irrelevant to exercise
.attribution {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}
