table {
    text-align: left;
    font-size: 18px;
    width: 100%;

    tr {

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }
    }

    td {
        padding: 0.75rem 1rem;
        border-bottom: 1px solid var(--red-100);

        &:nth-child(1) {
            text-transform: capitalize;
        }

        &:nth-child(2) {
            font-weight: 700;
            color: var(--red-400);
        }
    }

    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}